@media screen and (max-width: 768px) {

    header {
        margin: 0;
        padding: 0;
    }

    header nav .list {
        width: 100%;
        position: fixed;
        background-color: #C4E4FF;
        padding: 0.8rem 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
    }

    header nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    header h3 {
        display: flex;
    }

    .themes {
        display: none;
    }

    .list .menu {
        display: flex;
    }

    header .list .close {
        display: none;
    }

    header .list .on {
        display: flex;
    }

    header .list .off {
        display: none;
    }

    header nav .list-alive {
        display: flex;
    }

    ul {
        padding: 2rem 0 0;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    main {
        padding: 0 1.5rem;
    }

    #about {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #about img {
        width: 350px;
    }

    #skills img {
        filter: grayscale(0);
    }

    .service {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }

    .web, .ui {
        padding: 1rem;
        margin: 0;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 21px -10px rgba(0, 0, 0, 0.485);
    }

    .card:hover {
        transform: scale(1);
    }

    footer {
        padding: 1rem 1.5rem;
    }

    .logo div:hover {
        opacity: 0.7;
        transform: scale(1)
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {

    #about {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .service {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0;
    }
}